section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  gap: 32px;
}

section h2 {
  color: #44403c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

section p {
  color: #44403c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

section ul {
  padding: 0;
  margin: 0;
}

section li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 1rem 0;
  color: #44403c;
  font-weight: bold;
}

/* .section-students {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
} */

section .item {
  color: #1c1917;
  padding: 1.2rem;
  border-radius: 1.2rem;
  background: #f5f5f5;
  border: 1px solid #e7e5e4;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

button {
  max-width: 200px;
}

/* Estilo para a barra de rolagem no Webkit (Chrome, Safari) */
.section-students::-webkit-scrollbar {
  width: 8px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
  z-index: 0; /* Fica atrás do dialog */
  display: none; /* Inicialmente escondido */
}

#dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Fica sobre o overlay */
  display: none; /* Inicialmente escondido */
}

/* Responsividade */
@media (max-width: 768px) {
  section {
    width: 100%; /* Ocupa toda a largura da tela */
  }

  section h2 {
    font-size: 16px; /* Ajusta o tamanho da fonte */
  }

  section p,
  section li {
    font-size: 14px; /* Ajusta o tamanho da fonte */
  }

  /* .section-students {
    width: 100%;
  } */
}

@media (min-width: 768px) {
  div.space {
    display: none;
  }
}
