section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  gap: 32px;
}

section h2 {
  color: #44403c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

section p {
  color: #44403c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

section ul {
  padding: 0;
  margin: 0;
}

section li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 1rem 0;
  color: #44403c;
  font-weight: bold;
}

.section-students {
  width: 100%;
}

section .item {
  color: #1c1917;
  padding: 1.2rem;
  border-radius: 1.2rem;
  background: #f5f5f5;
  border: 1px solid #e7e5e4;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

button {
  max-width: 200px;
}
