.dialog {
  background-color: #fafafa;
  max-width: 25vw; /* Largura máxima em telas grandes */
  width: 90%; /* Largura para telas menores */
  line-height: 1.3rem;
  padding: 2rem; /* Ajuste o padding para uma melhor aparência */
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  margin: 0 auto; /* Centraliza o diálogo na tela */
}

.dialog-title {
  font-size: 1.5rem; /* Tamanho base para o título */
  font-weight: 600;
}

.dialog-message {
  margin-top: 1rem;
  word-break: break-all;
}

.dialog-buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: end;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .dialog {
    max-width: 90vw; /* Aumenta a largura máxima para telas menores */
    padding: 1.5rem; /* Reduz o padding em telas menores */
    font-size: 1rem; /* Ajusta a fonte do diálogo para 1rem */
  }

  .dialog-title {
    font-size: 1.3rem; /* Reduz o tamanho da fonte do título */
  }

  .dialog-message {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte da mensagem */
  }

  .dialog-buttons {
    flex-direction: row; /* Alinha os botões na horizontal */
    gap: 0.5rem; /* Espaçamento entre os botões */
  }
}

@media (max-width: 480px) {
  .dialog {
    font-size: 0.9rem; /* Diminuindo ainda mais a fonte em telas pequenas */
  }

  .dialog-title {
    font-size: 1.1rem; /* Reduz ainda mais o título */
  }

  .dialog-message {
    font-size: 0.8rem; /* Ajusta a fonte da mensagem para ser ainda menor */
  }
}
