#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
  z-index: 0; /* Fica atrás do dialog */
  display: none; /* Inicialmente escondido */
}

#dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Fica sobre o overlay */
  display: none; /* Inicialmente escondido */
}
.button-create {
  /* position: absolute; */
  top: 4rem;
  right: 4rem;
  max-width: 10rem;
}
.main-content {
  width: 100%;
}

@media (min-width: 768px) {
  div.space {
    display: none;
  }
}

@media (max-width: 768px) {
  .button-create {
    position: static;
  }
}
