.button-create {
  position: absolute;
  top: 4rem;
  right: 4rem;
  max-width: 10rem;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .button-create {
    position: static;
    margin: 1rem auto;
  }
}

/* .table-subject {
    position: relative;
    top: -4.5rem;
} */

.main-content {
  width: 100%;
}
