section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  gap: 32px;
}

section h2 {
  color: #44403c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

section p {
  color: #44403c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

section ul {
  padding: 0;
  margin: 0;
}

section li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 1rem 0;
  color: #44403c;
  font-weight: bold;
}

/* .card a {
  color: #4338ca;
} */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
  z-index: 0; /* Fica atrás do dialog */
  display: none; /* Inicialmente escondido */
}

#dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Fica sobre o overlay */
  display: none; /* Inicialmente escondido */
}
