select {
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #44403c;
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 16px;
}
