.toaster {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 6px;
  max-width: 23rem;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  /* font-weight: 700; */
}

.toaster-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toaster-success {
  border-radius: 6px;
  border-left: 5px solid #34d399;
  background: #d1fae5;
  color: #1c1917;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.toaster-warning {
  border-radius: 6px;
  border-left: 5px solid #6366f1;
  background: #e0e7ff;
  color: #1c1917;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
