.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  background: #6366f1;
  color: #eef2ff;
  /* margin: 5px 0; */
}
