* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  overflow: hidden;
  background-color: #1e1b4b;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #eef2ff;
}

nav a:hover {
  color: #fef08a;
}

nav {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1b4b;
  height: 100vh;
  width: 20rem;
}

.logo {
  margin-bottom: 2rem;
}

#dropdown {
  display: flex;
  align-items: center;
}

#dropdown img:last-child {
  margin-left: 0.5rem;
  justify-self: center;
}

.hidden {
  display: none;
}

.button-hide {
  display: flex;
  align-items: center;
}

.button-hide img {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem; /* Espaçamento entre as imagens */
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

.menu-item {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens */
  padding: 0.5rem 0;
}

.menu-item img {
  margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}

.atalhos a {
  display: block; /* Para garantir que a margem seja aplicada corretamente */
  margin: 0.5rem 0 0.5rem 1rem;
  /* padding: 0.5rem; */
}

main {
  padding: 4rem;
  background: #fafafa;
  border-radius: 3rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 20rem);
  gap: 1.6rem;
}

.title h1 {
  font-weight: 700;
  color: #1c1917;
}

.title h2 {
  font-weight: 400;
  color: #44403c;
}

section .painel {
  margin-top: 1.2rem;
  color: #44403c;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

section button {
  color: #1c1917;
  padding: 1.2rem;
  border-radius: 1.2rem;
  background: #f5f5f5;
  border: 1px solid #e7e5e4;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

section button:hover {
  background: #e7e5e4;
}

section button a {
  color: #4338ca;
  font-size: 14px;
}

section button a:hover {
  color: #1e1b4b;
}
