* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

a,
li {
  list-style: none;
  color: #eef2ff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #1e1b4b;
  padding: 40px;
  color: #eef2ff;
  height: 100vh;
}

nav .logo {
  margin-bottom: 32px;
  gap: 2px;
}

nav .menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

nav .menu li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

nav .footer {
  margin-top: auto;
}

nav .footer a {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

main {
  padding: 40px;
  background: #fafafa;
  border-radius: 24px 0 0 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 -48px;
}
.subjects {
  gap: 20px;
}

.subjects .main-list {
  gap: 20px;
  margin-top: 40px;
}
.title h1 {
  font-weight: 700;
  color: #1c1917;
}

.title h2 {
  font-weight: 400;
  color: #44403c;
}

.main-list h3 {
  color: #44403c;
  margin-bottom: 1.2rem;
}

.main-list a {
  display: flex;
  width: 800px;
  color: #1c1917;
  gap: 10px;
  padding: 16px;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 1rem;
  border: 1px solid #e7e5e4;
  background: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

/* responsivo do mobile */
/* @media (max-width: 767px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
  }
  nav {
    height: 100%;
  }
} */
