* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif; /* Definição de fonte padrão */
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh; /* Altura total da viewport */
  overflow: hidden; /* Evita rolagem */
}

.vetor1,
.vetor2 {
  position: absolute;
  opacity: 0.5; /* Transparência para os vetores */
}

.vetor1 {
  top: 0;
  right: 0;
  width: 433px; /* Tamanho do vetor */
  height: 497px; /* Tamanho do vetor */
}

.vetor2 {
  bottom: 0;
  left: 0;
  width: 352px; /* Tamanho do vetor */
  height: 284px; /* Tamanho do vetor */
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2; /* Mantém a logo acima dos vetores */
}

.login {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  box-shadow: 10px 11px 20px 0px rgba(0, 0, 0, 0.05);
  background: #fafafa;
  width: 90%; /* Largura adaptável */
  max-width: 545px; /* Limite máximo de largura */
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  gap: 10px;
}

.login h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  font-weight: 600;
}

.login .line {
  width: 206px; /* Linha sob o título */
  height: 1px;
  background: #d4d4d4;
  margin: 20px auto 48px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%; /* Largura total do formulário */
}

#error {
  display: none;
  color: red;
  line-height: 20px;
  align-self: center;
}

.input-items {
  display: flex;
  width: 100%; /* Largura total do contêiner de input */
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.input-items input {
  display: flex;
  padding: 12px 8px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
  width: 100%; /* Largura total dos inputs */
}

.input-items label {
  display: block;
}

#toggle-password {
  position: absolute;
  top: 50px; /* Ajuste conforme necessário */
  right: 15px;
  cursor: pointer;
}

#toggle-password-img {
  width: 20px; /* Ajuste conforme necessário */
  height: auto;
}

.login a {
  align-self: center;
  justify-items: auto;
  color: #312e81;
  text-decoration: none;
}

.login button {
  color: #eef2ff;
  border-radius: 6px;
  border: none;
  background: #6366f1;
  width: 100%; /* Largura total do botão */
  max-width: 320px; /* Limite máximo de largura */
  padding: 12px 8px;
  gap: 10px;
  cursor: pointer;
  align-self: center;
  justify-self: auto;
}

.login button:hover {
  background: #4338ca;
}

@media (max-width: 768px) {
  /* Ajustes para telas de até 768px */
  .login {
    width: 90%;
    height: auto;
  }

  .input-items {
    width: 100%;
  }

  .input-items input {
    width: 100%;
  }

  .login button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Ajustes para telas de até 480px */
  .vetor1 {
    width: 200px;
    height: auto;
  }

  .vetor2 {
    width: 150px;
    height: auto;
  }

  .logo {
    top: 10px;
    left: 10px;
  }

  .login h1 {
    gap: 12px;
    font-size: 24px;
  }

  .login .line {
    width: 150px;
    margin: 10px auto 24px auto;
  }

  .login button {
    max-width: 100%;
  }
}
