* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  overflow: hidden;
  background-color: #1e1b4b;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #eef2ff;
}

nav a:hover {
  color: #fef08a;
}

nav {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1b4b;
  height: 100vh;
}

.logo {
  margin-bottom: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.atalhos li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer {
  margin-top: auto;
}

.menu-item {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens */
}

.menu-item img {
  margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}

main {
  padding: 4rem;
  background: #fafafa;
  border-radius: 3rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: 40px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adicionado para distribuir espaço */
  align-items: flex-start; /* Adicionado para alinhar itens no topo */
}

/* header a {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-weight: 700;
  color: #1c1917;
}

.title a {
  cursor: pointer;
  width: 0%;
}

.title h2 {
  font-weight: 400;
  color: #44403c;
}

header button {
  align-self: flex-start; /* Garantir que o botão fique alinhado no topo */
  margin-top: 0; /* Remover margem superior extra */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  gap: 10px;
  border-radius: 6px;
  border: none;
  background: #6366f1;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
}

header button img {
  margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}

header button:hover {
  background: #4338ca;
}

/* Table style */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

table tbody tr:hover {
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06); */
  opacity: 0.85;
}

table thead {
  color: #78716c;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

table tbody tr {
  background: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

table tbody tr td {
  padding: 14px;
  border: none;
}

table tbody tr td:first-child {
  border-radius: 12px 0 0 12px;
}

table tbody tr td:last-child {
  border-radius: 0 12px 12px 0;
}

table tbody a {
  color: #4338ca;
}

#form-container {
  background: #fafafa;
  padding: 4rem;
  border-radius: 3rem;
  width: 100%;
}

#form-container a.close {
  cursor: pointer;
}

#form-container h1 {
  margin-top: 1rem;
  font-weight: 700;
  color: #1c1917;
}

#form-container label {
  display: block;
  margin-top: 1rem;
  color: #44403c;
}

#form-container input,
#form-container select {
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#form-container button {
  margin-top: 2rem;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  background: #6366f1;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

#form-container button:hover {
  background: #4338ca;
}

#form-container select {
  appearance: none;
  background: #fff;
  padding-right: 30px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZD0iTTAgMGw1IDUgNSA1em0wLTZsNSA1IDUgNSIgZmlsbD0iI2RkZCIvPjwvc3ZnPg==");
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}
