body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-color: #1e1b4b;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
  z-index: 0; /* Fica atrás do dialog */
  display: none; /* Inicialmente escondido */
}

#dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Fica sobre o overlay */
  display: none; /* Inicialmente escondido */
}
