.size-full {
  padding: 18px 30px;
  width: 100%;
  gap: 10px;
}

.size-large {
  padding: 18px 30px;
  width: 50%;
  gap: 10px;
}

.size-medium {
  padding: 14px 24px;
  gap: 10px;
}

.size-small {
  padding: 10px 20px;
  gap: 10px;
}

.button-default {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  background: #6366f1;
  color: #fafafa;
  cursor: pointer;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-default:hover {
  background: #4f4fbb;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #a8a29e;
  background: transparent;
  color: #78716c;
  cursor: pointer;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-outline:hover {
  opacity: 0.8;
}

.button-default-destructive {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ef4444;
  background: #ef4444;
  color: #fafafa;
  cursor: pointer;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-default-destructive:hover {
  background: #dc2626;
}

.button-outline-destructive {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ef4444;
  cursor: pointer;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-outline-destructive:hover {
  background: #ef4444;
  color: #fafafa;
}

.button-link {
  display: inline;
  border: none;
  color: #6366f1;
  cursor: pointer;
  text-decoration: none;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-link:hover {
  text-decoration: underline;
}

.button-link-sidebar {
  display: inline;
  border: none;
  color: #dc2626;
  cursor: pointer;
  text-decoration: none;

  font-family: "Popins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
