* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #eef2ff;
}

nav a:hover {
  color: #fef08a;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1b4b;
  width: 18rem;
  height: 100vh;
  gap: 1rem;
  padding: 3.5rem;
}

.logo {
  margin-bottom: 2rem;
}

.menu {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-footer {
  margin-top: auto;
  width: 100%;
}

.nav-footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.nav-footer p {
  margin: 0; 
  white-space: nowrap;
}
